
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}


header{
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    padding-left: 50px;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
}

.body{
    display: flex;
    margin-top: 70px;
    width: 100%;

    & .sider{
        background-color: black;
        opacity: 70%;
        color: white;
        width: 200px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 70px;

        &__menu{
            padding-top: 50px;
            @extend %center;
            height: max-content;
            
            & ul {
                list-style-type: none;
                padding: 0;
                & li {
                    margin-bottom: 20px;
                     & a{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                        font-weight: 400;

                        &:hover{
                            cursor: pointer;
                        }
                     }
                }
            }
        }
    }

    & .main{
        width: 100%;
        margin-left: 200px;
        padding: 50px;
    }

    .card-header{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .combo--button{
        margin-bottom: 20px;
        width: 100%;

        & .row{
            width: 100%;
        }

        & .button{
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
    }

    .table{
        margin-top: 20px;
        & .state{
            color: white;
            text-decoration: none;
            padding: 2px;
            @extend %center;
            width: max-content;
            border-radius: 5px;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;

            &--stop{
                background-color: rgb(218, 61, 61);
            }

            &--active{
                background-color: rgb(0, 152, 0);
            }

            &--tem{
                background-color: rgb(207, 195, 32);
            }
        }
    
        & .combo{
            display: flex;
            gap: 10px;
        }
    }
}


.show-alert{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 10;
}

.alert-hidden{
    animation-name: alert-hidden ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

[show-alert] [close-alert]{
    background-color: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes alert-hidden{
    from {
        right: 15px;
    }

    to{
        right: -100%;
        display: none;
    }
}

.img-preview {
  position: relative;
  width: max-content;

  .image-upload-preview {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 20px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(236, 55, 55);
    color: #fff;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
  }
}
