header.header 
    .container 
        .row.align-items-center 
            .col-3.header__logo 
                .header__logo--img
                    a(href="/")
                        img(src="/images/logo.png", alt="logo")
                .header__logo--name
                    a(href="/")
                        span Enhis                           
            .col-9
                ul.header__menu
                    li 
                        a(href="/") Trang chủ
                    li 
                        a(href="/products") Sản phẩm